@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@plugin 'flowbite/plugin';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-50: #FFFDFA;
  --color-primary-100: #FDFAF5;
  --color-primary-200: #F8EEDF;
  --color-primary-300: #F2DEC2;
  --color-primary-400: #E8C999;
  --color-primary-500: #DDB170;
  --color-primary-600: #C7924A;
  --color-primary-700: #A37436;
  --color-primary-800: #7F5928;
  --color-primary-900: #5A3E1D;

  --color-secondary-50: #FDF8F0;
  --color-secondary-100: #FAF1E0;
  --color-secondary-200: #F5E2C1;
  --color-secondary-300: #E8C999;
  --color-secondary-400: #D9AC6A;
  --color-secondary-500: #C78F45;
  --color-secondary-600: #A87332;
  --color-secondary-700: #855827;
  --color-secondary-800: #62411D;
  --color-secondary-900: #3F2A13;

  --color-black: #000000;
  --color-accent: #8E1616;

  --font-family: "Titillium+Web";
  --font-sans: "Titillium+Web" sans-serif; 
}

@source "../node_modules/flowbite-svelte/dist";
@source "../node_modules/flowbite-svelte-icons/dist";

@layer base {
  /* disable chrome cancel button */
  input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }
}
